mailmap.txt
mailmap.sh

build/
.cache/
.vscode/
*.csv
sim/efk_localization
sim/heat2d
sim/kf_tracker
sim/microphys
sim/monte_carlo
sim/rigid_body
CMakeFiles/
c-prep/week13/client
c-prep/week13/server
c-prep/week13/race